
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'gr.css' %}">
        <script src="{% static 'gr.js' %}"></script>
    </head>
   
    <div class="basic">
        {% include "admin_header.html" %}
    </div>
      <form action="/admin_viewaction/" method="POST">
         {% csrf_token %}
      
         <div class="con">
        
        
         <div class="field-set">
        Policeaction_id
        <br>
        <input type="text" name="policeaction_id" required class="form-input" value={{ct.policeaction_id}}><br>
        Account id
        <br>
        <input type="text" name="account_id" required class="form-input" value="{{ct.account_id}}" placeholder="account_id"><br>
        Name
        <br>
        <input type="text" name="name" required class="form-input" value="{{ct.name}}"><br>
        Complaint id
        <br>
  
        <input type="text" name="complaint_id" required class="form-input" value="{{ct.complaint_id}}" placeholder="Complaint id"><br>
        Remarks
        <br>
        <input type="text" name="remarks" required class="form-input" value="{{ct.remarks}}"><br>
        Action
        <br>
        <input type="text" name="action" required class="form-input" value="{{ct.action}}"><br>
  
  
  
  
        
        
        <button class="log-in"> submit </button>
      </div>
     
  
    
   
    </div>
    
   
  </form>
  </html>