<html>
    <head>
        {% load static %}
        <div class="basic">
            {%include "public_header.html"%}
        </div>
    <link rel="stylesheet" href="{% static 'table.css'%}">
    </head>
    <body>
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Reg no</th>
                <th>Address</th>
                <th>Course</th>
                <th>Semester</th>
                <th>#####</th>
            </tr>
    {%for ct in items %}
    <tr>
        <td>{{ ct.student_name}}</td>
        <td>{{ ct.reg_no}}</td>
        <td>{{ ct.address}}</td>
        <td>{{ ct.course}}</td>
        <td>{{ ct.semester}}</td>

        <td><a href="/parent_registration/{{ ct.id }}">Register</a></td>
    {% endfor %}
    </tr>        
        </table>
    </body>
</html>